:root {
    font-family: Century Gothic, sans-serif;
    font-size: 1em;
}

html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

nav {
    width: 100vw;
    position: fixed;
    background-color: #161919;
}

nav img {
    width: 7%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    padding: 1%;
}

.content {
    width: 100vw;
    height: 100vh;
    font-family: Century Gothic, sans-serif;
    padding: 5%;
}

footer {
    width: 100vw;
    bottom: 0;
    background-color: #161919;
    padding: 1%;
    color: #FFFFFF;
    font-size: 0.8em;
    text-align: center;
}

footer a {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    text-decoration: none;
}
